/* imported fonts  */
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Merriweather+Sans:wght@300&family=Rubik:wght@300&display=swap');

/* global variables for fonts: */
:root {
    --header: Dancing Script, cursive;
    --subheader: Merriweather Sans, sans-serif;
    --text: Rubik, sans-serif;
}



/* background image welcome page*/
#background-img {
    height: 1000px;
    width: 100%;
    background: url(../images/drink-3202709_1920.jpg) no-repeat;
}

/* styling for header */
header {
    display: flex;
    justify-content: space-between;
}

#small-logo {
    font-family: var(--header);
    font-size: 40px;

    display: flex;
    align-self: flex-start;
    padding-left: 75px;
}

li a,
li {
    list-style-type: none;
    text-decoration: none;
    padding: 10px;
    color: black;

}

#menu {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;

    letter-spacing: 4px;
    padding-right: 125px;
    padding-top: 30px;
    font-family: var(--subheader);
    ;
}

#menu a:hover {
    color: chocolate;
}

/* first section,homescreen */
#landing-page-logo {
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    padding-top: 0px;
    color: #fafafa;
    letter-spacing: 4px;

    font-family: var(--header);
    font-size: 50px;
}

/*arrow styling*/
i {
    padding-top: 200px;
    color: black;
}

/* 2nd section welcome page */
#background-img-2 {
    height: 1000px;
    width: 100%;
    background: url(../images/opening-hours-drink.jpg) no-repeat;
    margin-top: 10px;
}

#opening-hours-location {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 50px 200px;
}

/* styling of subheaders and text*/
#opening-hours,
#bar-adress {
    font-family: var(--subheader);
    font-size: 60px;
}

#opening-times,
#address {
    clear: both;
    font-family: var(--text);
    font-size: 40px;
}

#address {
    margin-top: 0px;
    text-decoration: none;
}